MONGO_URI=mongodb+srv://<username>:<password>@root.1ubtd3g.mongodb.net/
TOKEN_SECRET=9a46eb9e45e9c31331fa2c8905893810
DOMAIN=http://localhost:3000

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret